.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.netrc
.swiftpm/
*Generated/
Package.resolved
.home/
.spmComponentDerivedData/
.sparkans/

# SwiftLint Remote Config Cache
.swiftlint/RemoteConfigCache